extends ../partials/dashboard-layout

block content
    - var breadcrumbs = [{ text: 'Dashboard', href: '/' }, 'Books']
    include ../partials/breadcrumbs

    div(class="w-full h-full flex flex-col items-center mt-4")
        div(class="w-full divide-y divide-gray-200 border rounded-lg overflow-hidden shadow-md")
            div(class="flex items-center justify-between py-4 px-6")
                h1(class="text-lg font-semibold text-gray-800") Books
                button(id="add-book-btn" class="primary-btn" onclick="openModal('modal')")
                    i.lni.lni-plus
                    span Add Book


            table(class="min-w-full divide-y divide-gray-200")
                - var columns = ['ID', 'Name', 'Price', 'Sold', 'Created At', 'Updated At', '']
                include ../partials/head-table

                - var rows = data
                include ../partials/body-table
                    block items
                        each book in data
                            tr(key=book.id class="group hover:bg-gray-50 hover:text-[#7F56D9] cursor-pointer" onclick=`window.location='/books/${book.id}'`)  
                                td(class="py-4 px-6")= book.id
                                td(class="py-4 px-6 max-w-[300px] flex items-center gap-4")
                                    img(src=`${book.image}` alt=book.name class="w-14 h-14 object-cover rounded-md border border-gray-200")
                                    span(class="block")= book.name
                                td(class="py-4 px-6")
                                    if book.promotionListId
                                        span(class="block text-gray-400 line-through")= book.price
                                        span(class="block")= book.finalPrice
                                    else
                                        span(class="block")= book.price
                                td(class="py-4 px-6")= book.soldQuantity
                                td(class="py-4 px-6")= book.createdAt
                                td(class="py-4 px-6")= book.updatedAt
                                td(class="py-4 px-10 relative")
                                    button(class="delete-btn bg-[#7f56d9] border-[#7f56d9] hover:bg-[#926fdf] hidden group-hover:inline-flex absolute top-1/2 left-0 transform -translate-x-1/2 -translate-y-1/2" onclick=`event.stopPropagation(); window.location='/books/${book.id}/edit'`)
                                        i(class="lni lni-pencil-alt")
                                    button(class="delete-btn hidden group-hover:inline-flex absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" onclick=`removeBook(event, ${book.id})`)
                                        i(class="lni lni-trash-can")

            div(class="py-4 px-6")
                include ../partials/pagination.pug

    - var modalTitle = 'Add Book'
    include ../partials/modal
        block modalFormContent
            form(id="add-book-form" onsubmit="addBook(event)")
                div(class="grid grid-cols-2 gap-4 max-w-[400px]")
                    div(class="col-span-2")
                        label(for="name" class="block text-gray-700 text-sm font-medium mb-2") Name
                        input(id="name" type="text" name="name" class="modal-input" autocomplete="off")

                    div(class="col-span-2")
                        label(for="price" class="block text-gray-700 text-sm font-medium mb-2") Price
                        input(id="price" type="text" name="price" class="modal-input" autocomplete="off")

                    div(class="col-span-4")
                        label(for="categories" class="block text-gray-700 text-sm font-medium mb-2") Categories
                        div(id="categories-select")

                    div(class="col-span-4")
                        label(for="authors" class="block text-gray-700 text-sm font-medium mb-2") Authors
                        div(id="authors-select")

                    div(class="col-span-4")
                        label(for="description" class="block text-gray-700 text-sm font-medium mb-2") Description
                        textarea(id="description" type="text" name="description" class="modal-input" autocomplete="off" rows="2")

                    div(class="col-span-4")
                        include ../partials/image-input

                div(class="flex gap-2 justify-end")
                    button(type="button" class="py-2 px-4 border rounded-md bg-gray-50 text-gray-500 font-medium hover:bg-gray-100" onclick="closeModal('modal')") Cancel
                    button(type="submit" class="py-2 px-4 bg-[#7F56D9] text-white font-medium hover:bg-[#926FDF] rounded focus:outline-none focus:shadow-outline") Add

    script.
        document.addEventListener('DOMContentLoaded', function() {
            const categories = !{JSON.stringify(categories)};
            const authors = !{JSON.stringify(authors)};
            VirtualSelect.init({
                ele: '#categories-select',
                options: categories.map(category => ({ label: category.name, value: category.id })),
                maxWidth: '100%',
                search: true,
                multiple: true,
            });
            VirtualSelect.init({
                ele: '#authors-select',
                options: authors.map(author => ({ label: author.name, value: author.id })),
                maxWidth: '100%',
                search: true,
                multiple: true,
            });
        });

        async function addBook(event) {
            event.preventDefault();

            const categorySelect = document.getElementById('categories-select').value; 
            const authorSelect = document.getElementById('authors-select').value;

            const form = document.getElementById('add-book-form');
            const formData = new FormData(form);
            formData.set('categoryIds', categorySelect.join(','));
            formData.set('authorIds', authorSelect.join(','));

            try {
                const response = await fetch('/books', {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {
                    console.log('Added book successfully');
                    closeModal('modal');
                    window.location.reload();
                } else {
                    console.error('Failed to add book');
                }
            } catch (error) {
                console.error('Failed to add book');
            }
        }

        async function removeBook(event, id) {
            event.stopPropagation();

            if (!confirm('Are you sure you want to delete this book?')) {
                return;
            }

            try {
                const response = await fetch(`/books/${id}`, {
                    method: 'DELETE'
                });

                if (response.ok) {
                    console.log('Deleted book successfully');
                    window.location.reload();
                } else {
                    console.error('Failed to delete book');
                }
            } catch (error) {
                console.error('Failed to delete book');
            }
        }