extends ../partials/dashboard-layout

block content
    - var breadcrumbs = [{ text: 'Dashboard', href: '/' }, 'Books']
    include ../partials/breadcrumbs

    div(class="w-full h-full flex flex-col items-center mt-4")
        div(class="w-full divide-y divide-gray-200 border rounded-lg overflow-hidden shadow-md")
            div(class="flex items-center justify-between py-4 px-6")
                h1(class="text-lg font-semibold text-gray-800") Books

            table(class="min-w-full divide-y divide-gray-200")
                - var columns = ['ID', 'Name', 'Price', 'Discount', 'Sold', 'Created At', 'Updated At']
                include ../partials/head-table

                - var rows = data
                include ../partials/body-table
                    block items
                        each book in data
                            tr(key=book.id class="hover:bg-gray-50 hover:text-[#7F56D9] cursor-pointer" onclick=`window.location='/books/${book.id}'`)  
                                td(class="py-4 px-6")= book.id
                                td(class="py-4 px-6 max-w-[300px] flex items-center gap-4")
                                    img(src=`${book.image}` alt=book.name class="w-14 h-14 object-cover rounded-md border border-gray-200")
                                    span(class="block")= book.name
                                td(class="py-4 px-6")= book.discountPrice || book.price
                                td(class="py-4 px-6")= `${book.discountPercentage}%`
                                td(class="py-4 px-6")= book.soldQuantity
                                td(class="py-4 px-6")= book.createdAt
                                td(class="py-4 px-6")= book.updatedAt

            div(class="py-4 px-6")
                include ../partials/pagination.pug
