extends ../partials/dashboard-layout

block content
    - var breadcrumbs = [{ text: 'Dashboard', href: '/' }, { text: 'Categories', href: '/categories' }, { text: `${name}`, href: `/categories/${id}` }, "Edit"]
    include ../partials/breadcrumbs

    div(class="w-full flex flex-col items-center gap-8 mt-4")
        div(class="w-full h-full divide-y divide-gray-200 border rounded-lg overflow-hidden shadow-md")
            div(class="flex items-center justify-between py-4 px-6")
                h1(class="text-lg font-semibold text-gray-800") Edit Category
                button(id="saveButton" class="primary-btn")
                    i.lni.lni-save
                    span Save 

            block content
            form(class="px-6 py-4 grid grid-cols-1 md:grid-cols-2 gap-4")
                div
                    label(for="id" class="modal-label") ID
                    input(id="id" type="text" class="modal-input" value=id disabled) 

                div
                    label(for="name" class="modal-label") Name
                    input(id="name" type="text" class="modal-input" value=name name="name" autocomplete="off")

    script.
        document.getElementById('saveButton').addEventListener('click', editCategory);

        async function editCategory(event) {
            event.preventDefault()

            const categoryId = document.getElementById('id').value;
            const name = document.getElementById('name').value;

            console.log(categoryId, name)

            const data = { name }; 

            try {
                const response = await fetch(`/categories/${categoryId}`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    console.log('Edited category successfully');
                    window.location = `/categories/${categoryId}`;
                } else {
                    console.error('Failed to edit category');
                }
            } catch (error) {
                console.error('Failed to edit category');
            }
        }