extends ../partials/dashboard-layout

block content
    - var breadcrumbs = [{ text: 'Dashboard', href: '/' }, { text: 'Customers', href: '/customers' }, 'Customer details']
    include ../partials/breadcrumbs

    div(class="w-full h-full flex flex-col items-center gap-8 mt-4")
        - var wrapperTitle = name
        include ../partials/wrapper
            block content
            div(class="pt-4 pb-6 px-6")
                div(class="grid grid-cols-1 md:grid-cols-4 gap-4")
                    div(class="md:col-span-2")
                        label(for="id" class="modal-label") ID
                        input(id="id" type="text" class="modal-input" value=id readonly) 

                    div(class="md:col-span-2")
                        label(for="role" class="modal-label") Role
                        input(id="role" type="text" class="modal-input capitalize" value=role readonly)

                    div(class="md:col-span-1")
                        label(for="email" class="modal-label") Email
                        input(id="email" type="text" class="modal-input" value=email readonly)

                    div(class="md:col-span-1")
                        label(for="phone" class="modal-label") Phone
                        input(id="phone" type="text" class="modal-input" value=phone readonly)

                    div(class="md:col-span-2")
                        label(for="address" class="modal-label") Address
                        input(id="address" type="text" class="modal-input" value=address readonly)

                    div(class="md:col-span-2")
                        label(for="createdAt" class="modal-label") Created At
                        input(id="createdAt" type="text" class="modal-input" value=createdAt readonly) 

                    div(class="md:col-span-2")
                        label(for="updatedAt" class="modal-label") Updated At
                        input(id="updatedAt" type="text" class="modal-input" value=updatedAt readonly)


        - var wrapperTitle = 'Orders'
        include ../partials/wrapper
            table(class="min-w-full divide-y divide-gray-200")
                - var columns = ['ID', 'Total', 'Status', 'Created At', 'Updated At']
                include ../partials/head-table

                - var rows = orders
                include ../partials/body-table
                    block items
                        each order in orders
                            tr(key=order.id class="hover:bg-gray-50 hover:text-[#7F56D9] cursor-pointer" onclick=`window.location='/orders/${order.id}'`)   
                                td(class="py-5 px-6")= order.id
                                td(class="py-5 px-6")= order.totalPrice
                                td(class="text-center")    
                                    - var statusColor = order.status === 'pending' ? '#5925DC' : order.status === 'processing' ? '#B54708' : order.status === 'completed' ? '#067647' : order.status === 'cancelled' ? '#C11574' : 'gray'
                                    span(class=`block w-full py-1.5 px-4 bg-[${statusColor}] bg-opacity-10 border border-[${statusColor}] border-opacity-20 rounded-full text-[${statusColor}] text-sm capitalize`)= order.status
                                td(class="py-5 px-6")= order.createdAt
                                td(class="py-5 px-6")= order.updatedAt   

        - var wrapperTitle = 'Rating Reviews'
        include ../partials/wrapper
            table(class="min-w-full divide-y divide-gray-200")
                - var columns = ['ID', 'Book', 'Review', 'Date']
                include ../partials/head-table

                - var rows = ratingReviews
                include ../partials/body-table
                    block items
                        each review in ratingReviews
                            tr  
                                td(class="py-5 px-6")= review.id
                                td(class="py-5 px-6 max-w-[180px]")
                                    a(href=`/books/${review.book.id}` class="flex items-center gap-4 hover:text-[#7F56D9]")
                                        img(src=`${review.book.image}` alt=review.book.name class="w-14 h-14 object-cover rounded-md border border-gray-200")
                                        span(class="block font-semibold")= review.book.name
                                td(class="py-5 px-6 max-w-[300px]")
                                    div(class="flex items-center gap-1 mb-1")
                                        each val in [...Array(review.star).keys()]
                                            i(class="lni lni-star-fill text-yellow-400")
                                        each val in [...Array(5 - review.star).keys()]
                                            i(class="lni lni-star-fill text-gray-300")

                                    p(class="text-gray-600 text-md font-bold")= review.title 
                                    p= review.content
                                td(class="py-5 px-6")= review.createdAt