extends ../partials/dashboard-layout

block content
    - var breadcrumbs = [{ text: 'Dashboard', href: '/' }, { text: 'Authors', href: '/authors' }, { text: `${name}`, href: `/authors/${id}` }, "Edit"]
    include ../partials/breadcrumbs

    div(class="w-full flex flex-col items-center gap-8 mt-4")
        div(class="w-full h-full divide-y divide-gray-200 border rounded-lg overflow-hidden shadow-md")
            div(class="flex items-center justify-between py-4 px-6")
                h1(class="text-lg font-semibold text-gray-800") Edit Author
                button(id="saveButton" class="primary-btn")
                    i.lni.lni-save
                    span Save 

            block content
            form(class="px-6 py-4 grid grid-cols-1 md:grid-cols-2 gap-4")
                div
                    label(for="id" class="modal-label") ID
                    input(id="id" type="text" class="modal-input" value=id disabled) 

                div
                    label(for="name" class="modal-label") Name
                    input(id="name" type="text" class="modal-input" value=name name="name" autocomplete="off")

                div 
                    - var imageUrl = image 
                    include ../partials/image-input

    script.
        document.getElementById('saveButton').addEventListener('click', editAuthor);

        async function editAuthor(event) {
            event.preventDefault()

            const authorId = document.getElementById('id').value;

            const form = document.querySelector('form');
            const formData = new FormData(form);

            try {
                const response = await fetch(`/authors/${authorId}`, {
                    method: 'PATCH',
                    body: formData
                });

                if (response.ok) {
                    console.log('Edited author successfully');
                    window.location = `/authors/${authorId}`;
                } else {
                    console.error('Failed to edit author');
                }
            } catch (error) {
                console.error('Failed to edit author');
            }
        }